<div class="graph-container">
    <div class="card graph">
        <div class="card-header heading-section">
            <h3>Global Refining Capacity</h3>
        </div>
        <div class="card-body" id="chartdivOP" style="height: 500px;"></div>
    </div>

    <div *ngIf="globalCapacity" class="card config-capacity-container">
        <h4 class="card-header">Configuration capacity table</h4>

        <div class="card-body capacity-table-container">
            <table class="table table-bordered table-dark table-striped">
                <tbody>
                    <tr>
                        <th class="">Configuration</th>
                        <td *ngFor="let obj of globalCapacity">{{obj.Configuration}}</td>
                    </tr>
                    <tr>
                        <th class="">capacity</th>
                        <td *ngFor="let obj of globalCapacity">{{obj.CAP}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="card mt-3 mb-3">
    <div class="card-header">
        <h4>Composition limits for Assets</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <span>
                    <h6>Select Configuration : </h6>
                </span>
            </div>

            <div class="col-4 d-inline-block">
                <select (change)="selectCongingChangeHandler($event)" class="form-select form-select-sm"
                    aria-label=".form-select-sm example">
                    <option [value]="Configuration" *ngFor="let Configuration of allConfigurations">{{Configuration}}
                    </option>
                </select>
            </div>
        </div>

        <div class="row flex-wrap">
            <div *ngFor="let configObj of selectedConfigurationData"
                class="card-body col-md-4  range-container mt-2 p-1">
                <div class="d-flex justify-content-center align-content-center">
                    <span class="mb-2">Feed: {{configObj.Feed}}</span>
                </div>

                <div class="d-flex justify-content-between align-items-center px-5">
                    <span style="margin-right: 10px;">{{configObj.min_comp}}</span>
                    <input [value]="configObj.Composition" disabled style="width: 100%" type="range"
                        (min)="configObj.min_comp" step="0.01" (max)="configObj.max_comp" class="form-range">
                    <span style="margin-left: 10px;">{{configObj.max_comp}}</span>
                </div>

                <div class="d-flex justify-content-center align-content-center">
                    <span class="mb-2">{{configObj.Composition}} - average</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="isLoading" class="overlay">
</div>
<div *ngIf="isLoading" class="centered-container">
    <div class="spinner-grow text-danger" role="status"></div>
    <div class="spinner-grow text-warning" role="status"></div>
    <div class="spinner-grow text-info" role="status"></div>

    <!-- <div class="spinner-border text-secondary" role="status"></div> -->
</div>