.selection {
  display: flex;
}

.selection span,
.selection select {
  margin-right: 10px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

small {
  color: blueviolet;
}
