.selection {
  display: flex;
}

.selection span,
.selection select {
  margin-right: 10px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

small {
  color: blueviolet;
}

.card {
  border: 1px solid rgb(162, 134, 189);
}
.card-header {
  /* border: 1px solid rgb(162, 134, 189); */
  background-color: #131313;
  color: aliceblue;
}

.card-body {
  background-color: rgba(19, 17, 17, 0.642);
  color: aliceblue;
}

.form-select {
  color: aliceblue;
  background-color: transparent;
  border: 1px solid rgb(162, 134, 189);
}

.form-select:focus {
  background-color: #131313;
  color: aliceblue;
}

/* #chartdiv {
  color: aliceblue;
} */
