<!-- Navbar -->
<nav>
    <div class="logo-container">
        <h3 class="logo">Assignment</h3>
    </div>
    <div class="toggle-container">
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-outline-primary active">Input</button>
            <button type="button" class="btn btn-outline-primary">Output</button>
        </div>
    </div>
    <div class="excercise2-container">
        <button class="btn btn-outline-secondary">Exercise 2</button>
    </div>
</nav>

<div class="container">
    <app-input></app-input>
    <!-- <app-output></app-output> -->
</div>