<!-- Navbar -->
<nav>
    <div class="logo-container">
        <h3 class="logo">Assignment</h3>
    </div>
    <div class="toggle-container">
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" [ngClass]="{'active': showChart == 'input'}" (click)="changeChart('input')"
                class="btn btn-outline-primary">Input</button>

            <button type="button" [ngClass]="{'active': showChart == 'output'}" class="btn btn-outline-primary"
                (click)="changeChart('output')">Output</button>
        </div>
    </div>
</nav>

<div class="outer-container">
    <app-input *ngIf="showChart == 'input'"></app-input>
    <app-output *ngIf="showChart == 'output'"></app-output>
</div>