<!-- Navbar -->
<nav>
    <div class="logo-container">
        <h3 class="logo">Assignment</h3>
    </div>
    <div class="toggle-container">
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" [ngClass]="{'active': showChart == 'input'}" (click)="changeChart('input')"
                class="btn btn-outline-primary">Input</button>

            <button type="button" [ngClass]="{'active': showChart == 'output'}" class="btn btn-outline-primary"
                (click)="changeChart('output')">Output</button>
        </div>
    </div>
    <!-- <div class="excercise2-container">
        <button disabled class="btn btn-outline-secondary disabled">Exercise 2</button>
    </div> -->
</nav>

<div class="container">
    <app-input *ngIf="showChart == 'input'"></app-input>
    <app-output *ngIf="showChart == 'output'"></app-output>
</div>