/* 
  background-color-dark = #131313
  background-color-gray = #3b3b3b

  text-color = aliceblue;
 */

nav {
  display: flex;
  align-items: center;
  background-color: #131313;
  /* background-color: */
  z-index: 2;
  color: aliceblue;
}

.logo-container {
  flex: 1;
  display: inline-block;
  font-family: "Damion", cursive;
  margin-left: 10px;
}

.logo {
  font-size: 40px;
  /* color: rgba(0, 0, 0, 0.862); */
  background-color: var(--on-primary);
  color: blueviolet;
}

.toggle-container {
  /* flex: 1; */
  margin-right: 25px;
}

.btn-group {
  border: 1px solid rgb(107, 107, 107);
  padding: 2px;
  display: flex;
  column-gap: 5px;
}

.btn-group button {
  padding: 5px 7.5px;
  border: none;
}

.excercise2-container {
  margin-right: 10px;
}

.container {
  margin-top: 15px;
}

.outer-container {
  padding: 20px 60px;
}
